<header>
  <div class="container d-flex justify-content-around flex-nowrpa">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="/MediCall-logo.svg" alt="" width="250px" />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">الرئيسية</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/map" routerLinkActive="active">اطلب</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/about-us" routerLinkActive="active">من نحن</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/complaints" routerLinkActive="active">الشكاوى</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact" routerLinkActive="active">تواصل معنا</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="d-flex justify-content-center align-items-center gap-2">
      <div class="d-flex justify-content-center align-items-center gap-2">
        <a routerLink="/register">
          <button class="button">سجل حساب</button>
        </a>
        <a routerLink="/login">
          <button class="button">تسجيل الدخول</button>
        </a>
      </div>
      @if (isLoggedIn) {
        <div>
          <a routerLink="/my-account">
            <i class="bi bi-person-circle"></i>
          </a>
        </div>
      } 
    </div>
  </div>
</header>
