header {
  background-color: #f8f9fa;
  box-shadow: 0 4px 2px -2px gray;
}
.active {
  /* font-weight: bold; */
  color: var(--secondary-color) !important;
}

i{
  font-size: 2.5rem;
  margin-right: 5px;
  color: var(--primary-color);
}