<footer>
    <div class="container">
        <div>
            <img src="/MediCall-logo.svg" alt="" width="250px" class="mb-3" />
            <div>
              <a href="https://www.facebook.com" target="_blank">
                <i class="bi bi-facebook"></i>
              </a>
              <a href="https://twitter.com" target="_blank">
                <i class="bi bi-twitter"></i>
              </a>
              <a href="https://www.instagram.com" target="_blank">
                <i class="bi bi-instagram"></i>
              </a>
              <a href="https://www.linkedin.com" target="_blank">
                <i class="bi bi-linkedin"></i>
              </a>
            </div>
            <div class="d-flex justify-content-between align-items-center gap-2">
                <div>
                    <h5>Contact Us</h5>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Disabled</a>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h5>About Us</h5>
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Disabled</a>
                      </li>
                    </ul>
                  </div>
            </div>
          </div>
          <p class="text-center" dir="ltr">
            &copy; {{ currentDate | date : "yyyy" }} MediCall. All rights reserved.
          </p>
    </div>
</footer>
