<footer>
  <div class="container">
    <!-- brand -->
    <div class="row mb-3">
      <div class="col-md-6 col-sm-12">
        <img src="/MediCall-logo.svg" alt="" width="250px" class="mb-3" />
      <div>
        <a href="https://www.facebook.com" target="_blank">
          <i class="bi bi-facebook social"></i>
        </a>
        <a href="https://twitter.com" target="_blank">
          <i class="bi bi-twitter social"></i>
        </a>
        <a href="https://www.instagram.com" target="_blank">
          <i class="bi bi-instagram social"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank">
          <i class="bi bi-linkedin social"></i>
        </a>
      </div>
      </div>
      <div class="col-md-6 col-sm-12">
        <a href="" class="mx-2">
          <div>
            <i class="bi bi-phone contact"></i>
            <span dir="ltr">+1 234 567 890</span>
          </div>
        </a>
        <a href="" class="mx-2">
          <div>
            <i class="bi bi-whatsapp contact"></i>
            <span dir="ltr">+1 234 567 890</span>
          </div>
        </a>
        <a href="" class="mx-2">
          <div>
            <i class="bi bi-envelope-fill contact"></i>
            <span>johndou&#64;gmail.com</span>
          </div>
        </a>
      </div>
    </div>
    <!-- links -->
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5>Contact Us</h5>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Disabled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>
      </ul>
      </div>


      <div class="col-md-6 col-sm-12">
        <h5>About Us</h5>
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Disabled</a>
          </li>
        </ul>
      </div>
    </div>

    <div>
      <hr>
      <p class="text-center py-2 text-white" dir="ltr">
        &copy; {{ currentDate | date : "yyyy" }} MediCall. All rights reserved.
      </p>
    </div>
  </div>
</footer>
