<section class="hero d-flex justify-content-center align-items-center">
  <h1>تواصل معنا</h1>
</section>

<section class="container my-5">
  <div class="row">
    <a href="tel:201028128912" class="col-md-4 col-sm-12 mt-3">
      <div
        class="box d-flex flex-column align-items-center justify-content-center"
      >
        <i class="bi bi-phone"></i>
        <h4>الهاتف</h4>
        <p dir="ltr">+2 010123456789</p>
      </div>
    </a>
    <a href="https://wa.me/201028128912" class="col-md-4 col-sm-12 mt-3">
      <div
        class="box d-flex flex-column align-items-center justify-content-center"
      >
        <i class="bi bi-whatsapp"></i>
        <h4>واتساب</h4>
        <p dir="ltr">+2 01028128912</p>
      </div>
    </a>
    <a href="mailto:abdofathy883@gmail.com" class="col-md-4 col-sm-12 mt-3">
      <div
        class="box d-flex flex-column align-items-center justify-content-center"
      >
        <i class="bi bi-envelope-fill"></i>
        <h4>البريد الإلكتروني</h4>
        <p>johnduo&#64;domain.com</p>
      </div>
    </a>
  </div>
</section>
<section class="container my-5">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form action="">
        <div class="mb-3">
          <label for="name" class="form-label">الاسم</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="">الهاتف</label>
          <input
            type="tel"
            id="phone"
            name="phone"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">البريد الإلكتروني</label>
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            required
          />
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">الرسالة</label>
          <textarea
            id="message"
            name="message"
            class="form-control"
            rows="3"
            required
          ></textarea>
        </div>
        <input type="submit" class="btn form-btn" value="إرسال" />
      </form>
    </div>
    <div class="col-md-6 col-sm-12">
      <img src="/contact-us.svg" width="70%" class="mx-auto d-block" alt="" />
    </div>
  </div>
</section>
