<google-map width="100%" height="100vh" [center]="center" [zoom]="zoom">
  @if (myLocationMarker) {
  <map-marker
    [position]="myLocationMarker"
    [label]="'You'"
    [title]="'Your Location'"
    [icon]="{
      url: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
    }"
  >
  </map-marker>
  } @for (driver of nursesMarkers; track $index) {
  <map-marker
    [position]="driver"
    [label]="'Driver'"
    [title]="'Nearby Driver'"
    [icon]="{
      url: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
    }"
  >
  </map-marker>
  }
</google-map>


<div class="form-div">
    <h3>احجز</h3>
    <form action="">
        <div class="row">
            <div class="col">
                <label for="" class="form-label">aa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label for="" class="form-label">aa</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="" class="form-label">aa</label>
                <input type="text" class="form-control">
            </div>
            <div class="col">
                <label for="" class="form-label">aa</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <input type="submit" value="ارسال" class="form-btn mb-4">
    </form>
</div>

<div class="nurses-group">
  @for(nurse of availableNurses; track $index){
    <div class="row py-3 my-3 d-flex align-items-center single-nurse">
      <div class="col-2">
        <img src="/nurse.svg" class="mx-auto d-block" width="90%" alt="">
      </div>
      <div class="col-10">
        <h5>nurse</h5>
        <button class="button">موافقة</button>
      </div>
    </div>
  }
</div>

<div class="accepted-nurse">
  <div class="row py-3 my-3 d-flex align-items-center single-nurse">
    <div class="col-2">
      <img src="/nurse.svg" class="mx-auto d-block" width="90%" alt="">
    </div>
    <div class="col-10">
      <h5>nurse</h5>
      <button class="button" (click)="thanksAlert()">موافقة</button>
    </div>
  </div>
</div>
