<!-- Services -->
<section class="container py-4">
    <h2 class="text-center py-3">خدماتنا في ميدي كول</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <div class="card pt-3">
            <img src="..." class="mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="text-center">خدمة 1</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card pt-3">
            <img src="..." class="mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="text-center">خدمة 2</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card pt-3">
            <img src="..." class="mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="text-center">خدمة 3</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card pt-3">
            <img src="..." class="mx-auto d-block" alt="...">
            <div class="card-body">
              <h5 class="text-center">خدمة 4</h5>
            </div>
          </div>
        </div>
      </div>
</section>
<!-- contact and complaint -->
<section class="container">
    <div class="row">
        <div class="col-md-6 col-sm-12 d-flex flex-column justify-content-center">
            <h4>نحن نهتم لامرك</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis deleniti architecto provident praesentium. Totam.</p>
            <div>
                <a routerLink="/contact" class="btn com-btn">تواصل معنا</a>
                <a routerLink="/complaints" class="btn com-btn">تقديم شكوى</a>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="/Medical care-cuate.svg" width="85%" class="mx-auto d-block" alt="">
        </div>
    </div>
</section>
